<!DOCTYPE html>
<html>
<head>
	<title>DoubleJam</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script src="https://smtpjs.com/v3/smtp.js"></script>
</head>
<body>
	<header>
		<div class="container">
		  <div class="logo">
			<img src="{% static 'imgs/logo_black.png' %}" alt="Logo">
		  </div>
		  <nav class="navigation">
			<ul>
			  <li><a href="#" onclick="location.reload()">Home</a></li>
			  <li><a href="#products">Shop</a></li>
			  <li><a href="#footer">About</a></li>
			  <li><a href="#footer">Contact</a></li>
			</ul>
		  </nav>
		  <div class="cart" id="cart-icon">
			<a href="#" onclick="openCart()">
			  <img src="{% static 'imgs/basket-outline.svg' %}" alt="Cart">
			</a>
		  </div>					
		  <div class="heart">
			<a href="#" id="like-button">
			  <img src="{% static 'imgs/heart-outline.svg' %}" alt="Heart">
			</a>
			<span style="right:20px;top: 22.5px;right: 111.5px;position: absolute;font-size: small;" id="like-count">0</span>
		  </div>		  
		</div>
	  </header>
	  <section class="banner">
		<video autoplay muted loop id="bg-video">
		  <source src="{% static 'videos/header_video.mp4' %}" type="video/mp4">
		</video>
		<div class="container">
		  <h1>Welcome to Our Online Shop</h1>
		  <p>Shop for the latest fashion trends at affordable prices.</p>
		</div>
	  </section>
	  
	  
  <section class="products" id="products">
    <div class="container">
      <h2>Featured Products</h2>
      <div class="product-container">
        <div class="product">
          <img src="{% static 'imgs/tshort.png' %}" alt="Product">
          <h3>DJ Miche Collection</h3>
          <p class="price">$99.99</p>
          <p>Dictator Miche is our favourite logo because we used it to name our project to first project for ICDIIS. It`s our special design.</p>
          <a href="#" class="add-to-cart" id="add-to-cart-1">Add to Cart</a>
        </div>
        <div class="product">
          <img src="{% static 'imgs/tshort1.png' %}" alt="Product">
          <h3>DJ STM32 Idlers</h3>
          <p class="price">$99.99</p>
          <p>You give your all to the workout, pushing yourself to the limit. Let the STM32 keep you cool and comfortable with its soft fabric.</p>
		  <a href="#" class="add-to-cart" id="add-to-cart-2">Add to Cart</a>
        </div>
        <div class="product">
          <img src="{% static 'imgs/new.png' %}" alt="Product">
          <h3>Backsideclub Overshot <JUNGLE></JUNGLE></h3>
          <p class="price">$399</p>
          <p>Italian brand of everyday classic Backsideclub. Straight cut. Adjustable cuffs and hem with buttons. Woven patch on the back. Made in Italy.</p>
          <a href="#" class="add-to-cart" id="add-to-cart-3">Add to Cart</a>
        </div>
        <div class="product">
          <img src="{% static 'imgs/hoody.png' %}" alt="Product">
          <h3>Han Kjobenhavn Hoodie</h3>
          <p class="price">$250</p>
          <p>Printed graphic artwork on the chest. Will complement your basic wardrobe.Original designer everyday item. Made in Portugal.</p>
          <a href="#" class="add-to-cart" id="add-to-cart-4">Add to Cart</a>
        </div>
      </div>
    </div>
  </section>
  <div class="cart-window">
	<div class="cart-items">
	  <!-- cart items will be dynamically added here -->
	</div>
	<div class="cart-footer">
	  <div class="cart-total">
		<h3>Total: $0.00</h3>
	  </div>
	  <button class="checkout-btn" onclick="location.reload()">Checkout</button>
	</div>
  </div>
  
  
  <section class="featured-categories">
		<div class="container" style="text-align: center;">
			<h2>Featured Categories</h2>
			<div class="category-container">
				<div class="category">
					<img src="{% static 'imgs/shoose1.png' %}" alt="Category">
					<h3>Boots Vomero 5</h3>
				</div>
				<div class="category">
					<img src="{% static 'imgs/shoose.png' %}" alt="Category">
					<h3>Zoom Freak 4 ASW</h3>
				</div>
				<div class="category">
					<img src="{% static 'imgs/shoes1.png' %}" alt="Category">
					<h3>Sneakers Y2OP</h3>
				</div>
			</div>
		</div>
	</section>
	

	<section class="newsletter">
		<div class="newsletter">
			<h2>Subscribe to our newsletter</h2>
			<p>Get the latest news and updates delivered to your inbox.</p>
			<div class="input-container">
				<form id="email-form">
				  <input type="email" placeholder="Enter your email address">
				  <button id="submit-btn" type="submit">Subscribe</button>
				</form>
			  </div>			  
		  </div>
	</section>

	<section class="footer" id="footer">
	<footer>
		<div class="container">
			<p class="footer-text-upper">
				Double Jam is a medium-sized company. Our customers who want a lot of interesting content not only read it, but they can also buy it. We are known for our clothes prints.
			</p>
		  <div class="footer-social">
			<a href="#"><img src="{% static 'imgs/facebook.svg' %}" alt="Facebook"></a>
			<a href="#"><img src="{% static 'imgs/twitter.svg' %}" alt="Twitter"></a>
			<a href="#"><img src="{% static 'imgs/instagram.svg' %}" alt="Instagram"></a>
		  </div>
		  
		  <div class="footer-text">
			<p>&copy; 2023 Double Jam company. All rights reserved.</p>
		  </div>
		</div>
	  </footer>
	</section>
</body>

<script src="https://cdn.emailjs.com/sdk/2.3.2/email.min.js"></script>
<script src="../static/js/add_to_cart.js"></script>
<script src="../static/js/email.js"></script>
<script src="../static/js/heart_like.js"></script>
<script src="../static/js/update_cart.js"></script>
</html>